main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  /* .section {
    background-color:rgb(32, 30, 30);
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgb(32, 30, 30);
  } */

  .section {
    background-color: rgb(32, 30, 30); /* Dark background */
    padding: 2rem 1rem; /* Add horizontal padding for smaller screens */
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px; 
    color: #fff; 
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Clean, modern font */
    font-weight: 400;
    line-height: 1.6; /* Improves readability */
    letter-spacing: 0.3px;
  }
  
  /* Optional: responsive typography and spacing */
  @media (min-width: 768px) {
    .section {
      padding: 3rem 2rem;
      /* font-size: 1rem; */
    }
  }
  

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 1rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #lihome {
    margin-left: 20px;
  }
  #First{
    text-decoration: none;
    font-size: 25px;
    
    }
    #Two{
    text-decoration: none;
    font-size: 25px;
    }
    
    #three{
    width: 260px;
    
    
    }
    img{
    width: 50px;
    }
    #ChatBot{
    display: flex;
    float: right;
    font-size: 25px;
    padding-top: 10px;
    text-decoration: none;
    
    }
    h6{
    font-size: 20px;
    }
    .gith{
    font-size: 25px;
    text-decoration: none;
    }
    .Naveen{
    width: 180px;
    border-radius: 50%;
    }
    h2{
    margin-top: 15;
    }

    .inter{
        width: 250px;
        margin-right: 10px;
        } 
     h5{
        font-size: 20px;
        color: rgb(226, 116, 43);
        }