.container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 1280px; */
    /* margin: 0 auto; */
    margin: 4rem;
    text-align: center;
    /* flexDirection: 'column'; */
    /* height: '100vh', */
  }
  h1{
    color: white;
    padding: 1rem;
  }
  #containerr{
    width: 400px;
    height: 450px;
    padding: 5px;
    background-color:rgb(122, 5, 5);
    /* background-color:#860786; */
    border: 2px solid rgb(122, 5, 5);
    border-radius: 10px;
  }
  .input{
    color: black;
    font-size:medium;
    width: 320px;
    height: 50px;
    background-color: rgb(220, 216, 216);
    margin-bottom:40px;
    margin-top:20px ;
    border-radius: 20px;
  }
  input:hover{
    background-color: white;
    border: none;
    outline: none;
    box-shadow: 1px 1px 1px 1px white;
  }
  .button{
    background-color: #05bb05;
    color:rgb(171, 167, 167);
    font-size:medium;
    width: 300px;
    height: 50px;
     /* margin-bottom:40px; */
    margin-top:10px ;  
    border-radius: 20px;
    cursor: pointer;
  }
  .button:hover{
    color: white;
    border: none;
    outline: none;
    background-color: #0a6102;
    box-shadow: 3px 3px 3px 3px #0a6102;
  }
  .red{
    color: red;
  }
  .any{
    font-size: 30px;
    font-style: italic;
    display: flex;
    justify-content: center;
    padding: 10rem;
    /* align-items: center; */
  }